@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* ------ VARIABLES ------ */
:root {
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --bg-primary: #eaeaea;
  --bg-secondary: #f6f6f6;
  --bg-tertiary: #353535;
  --gradient: linear-gradient(178deg, var(--secondary), var(--primary));
  --font-titles: "Shrikhand", sans-serif;
  --font-texts: "Roboto", sans-serif;
  --shadow-dark: 0px 3px 8px 0px #808080a8;
  --shadow-light: 0px 3px 10px 0px #11101059;
  --shadow-hover: 0px 4px 15px 0px #808080a8;
}

/* ------ GENERAL ------ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  cursor: default;
  font-family: var(--font-texts);
}

@media screen and (min-width: 768px) {
  body {
    background: var(--bg-primary);
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 75%;
  padding: 1.2rem 0 0.8rem 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.heart {
  cursor: pointer;
  position: relative;
}

.heart i {
  position: absolute;
  top: 0;
  right: 0;
}

.heart:hover .hide-heart {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: translateY(-27px);
          transform: translateY(-27px);
}

.heart .empty-heart {
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 2;
}

.heart .hide-heart {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: white;
  z-index: 1;
}

.heart .full-heart {
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background: -webkit-linear-gradient(var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------ HEADER ------ */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  padding: 1.2rem 0 0.6rem 0;
  font-size: 1.85em;
}

@media screen and (min-width: 768px) {
  header h1 {
    padding: 0.6rem 0;
  }
}

/* ------ MAIN ------ */
.introduction,
.restaurants {
  max-width: 1400px;
  margin: auto;
}

/* --- Location Section */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--bg-primary);
  padding: 1rem 0;
  font-weight: 500;
  -webkit-box-shadow: inset 0px 2px 3px #3535353d;
          box-shadow: inset 0px 2px 3px #3535353d;
}

@media screen and (min-width: 768px) {
  .location {
    position: absolute;
    top: 2px;
    right: 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
  }
}

.location i {
  margin-right: 1rem;
}

/* --- Introduction Section */
@media screen and (min-width: 768px) {
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2rem 1rem 1rem;
    background: white;
  }
}

.introduction .presentation {
  background: var(--bg-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .introduction .presentation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    border-radius: 10px;
    min-width: 300px;
    padding: 1rem;
  }
}

.introduction .presentation h1 {
  text-align: center;
  padding: 0 2rem;
  font-size: 1.5rem;
}

.introduction .presentation p {
  text-align: center;
  font-size: 1.1rem;
  color: #5d5d5d;
  font-weight: 300;
}

.introduction .presentation button {
  margin: 1rem 0 1.3rem;
  padding: 1rem 1.4rem;
  font-weight: normal;
  color: white;
  border-radius: 50px;
  border: none;
  background: var(--gradient);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.introduction .presentation button:hover {
  opacity: 0.95;
  -webkit-box-shadow: var(--shadow-hover);
          box-shadow: var(--shadow-hover);
}

.introduction .operation {
  padding: 3rem 1rem;
}

@media screen and (min-width: 768px) {
  .introduction .operation {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .introduction .operation h2 {
    text-align: center;
  }
}

.introduction .operation .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 1.5rem 0.4rem 1.5rem 1rem;
  background: var(--bg-secondary);
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.introduction .operation .card:hover {
  background: #f5edff;
  -webkit-box-shadow: 0px 4px 15px 0px #80808059;
          box-shadow: 0px 4px 15px 0px #80808059;
}

.introduction .operation .card:hover i {
  color: var(--primary);
}

.introduction .operation .card span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -10px;
  background: var(--primary);
  color: var(--bg-secondary);
  padding: 0.3rem;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  font-size: 14px;
}

.introduction .operation .card i {
  padding: 1.7rem 2rem;
  color: grey;
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
}

@media screen and (min-width: 768px) {
  .introduction .operation .card i {
    padding: 1.2rem 2.3rem;
  }
}

.introduction .operation .card .fa-mobile-alt {
  font-size: 20px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.introduction .operation .card .fa-list-ul {
  font-size: 19px;
}

.introduction .operation .card .fa-store {
  font-size: 17px;
}

.introduction .operation .card p {
  font-weight: 500;
}

/* --- Restaurants Section */
.restaurants {
  background: var(--bg-secondary);
  padding: 3rem 1rem;
}

.restaurants h2 {
  margin: auto;
  margin-bottom: 0.8rem;
  max-width: 380px;
}

@media screen and (min-width: 768px) {
  .restaurants h2 {
    max-width: 1260px;
  }
}

.restaurants .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 390px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .restaurants .cards {
    max-width: 1260px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}

.restaurants .restaurant {
  position: relative;
  margin: 0.7rem 0;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  max-width: 24rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.restaurants .restaurant:hover {
  -webkit-box-shadow: 0px 3px 20px 8px #1110102e;
          box-shadow: 0px 3px 20px 8px #1110102e;
}

@media screen and (min-width: 768px) {
  .restaurants .restaurant {
    max-width: 19rem;
  }
}

.restaurants .restaurant .image {
  overflow: hidden;
  width: 100%;
  height: 11rem;
  border-radius: 15px 15px 0 0;
}

@media screen and (min-width: 768px) {
  .restaurants .restaurant .image {
    height: 9rem;
  }
}

.restaurants .restaurant img {
  max-width: 100%;
  -webkit-transform: translateY(-53px);
          transform: translateY(-53px);
}

.restaurants .restaurant .translate-img {
  -webkit-transform: translateY(-155px);
          transform: translateY(-155px);
}

.restaurants .restaurant .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 1rem 0.8rem;
}

.restaurants .restaurant .content .name p {
  font-size: 17px;
  margin: 0.2rem 0;
  font-weight: 300;
}

.restaurants .restaurant .content .heart:hover .hide-heart {
  -webkit-transform: translateY(-23px);
          transform: translateY(-23px);
}

.restaurants .restaurant .content .heart i {
  font-size: 25px;
  top: 5px;
  right: 5px;
}

.restaurants .restaurant .content .heart .hide-heart {
  top: 5px;
  right: 5px;
  width: 23px;
  height: 23px;
}

.restaurants .restaurant .content .new {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--tertiary);
  color: #018766;
  padding: 0.4rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
}

/* ------ FOOTER ------ */
footer {
  background: var(--bg-tertiary);
  color: white;
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 3.5rem 1.5rem 2rem;
  }
}

footer .logo-footer h3 {
  font-family: var(--font-titles);
  font-weight: normal;
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

footer i {
  padding-right: 0.5rem;
  font-size: 13px;
}

footer li {
  margin-bottom: 0.6rem;
  font-size: 16px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

footer li:hover {
  font-weight: bold;
}

header {
  position: relative;
}

@media screen and (min-width: 768px) {
  header {
    background: var(--bg-primary);
  }
}

header .previous {
  position: absolute;
  top: 21px;
  left: 25px;
  font-size: 19px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header .previous:hover {
  background: #80808040;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 3px 6px #80808040;
          box-shadow: 0px 0px 3px 6px #80808040;
}

.image img {
  width: 100%;
}

.menus {
  position: relative;
  padding: 1.5rem 1.1rem;
  background: var(--bg-secondary);
}

.menus .header-menus {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  min-height: 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--bg-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px 40px 0 0;
  padding: 2rem 2.3rem 2rem 1.5rem;
}

.menus .header-menus h1 {
  font-family: var(--font-titles);
  font-weight: normal;
  font-size: 27px;
}

.menus .header-menus i {
  font-size: 25px;
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
}

.menus .header-menus .hide-heart {
  background: var(--bg-secondary);
}

.menus .menu {
  padding-top: 1.3rem;
}

.menus .menu h2 {
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 1.4rem;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-animation: title_apparition 700ms forwards;
          animation: title_apparition 700ms forwards;
}

.menus .menu h2:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 39px;
  height: 3px;
  background: var(--tertiary);
}

.menus .meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  opacity: 0;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: 0px 4px 9px #0000001a;
          box-shadow: 0px 4px 9px #0000001a;
  max-width: 400px;
  cursor: pointer;
  -webkit-animation: 2s menu_apparition 700ms forwards;
          animation: 2s menu_apparition 700ms forwards;
}

.menus .meal:hover .meal-infos {
  width: 61%;
}

.menus .meal:hover .meal-check {
  right: 0;
}

.menus .meal:hover .meal-check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menus .meal .meal-infos {
  width: 80%;
  padding: 0.9rem 0.7rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menus .meal h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus .meal .description {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus .meal .meal-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.9rem 0;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menus .meal .meal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -61px;
  height: 100%;
  width: 60px;
  border-radius: 0 15px 15px 0;
  background: var(--tertiary);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menus .meal .meal-check i {
  color: white;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 300ms linear 100ms;
  transition: -webkit-transform 300ms linear 100ms;
  transition: transform 300ms linear 100ms;
  transition: transform 300ms linear 100ms, -webkit-transform 300ms linear 100ms;
}

.menus .menu .meal:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menus .menu .meal:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menus .menu .meal:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menus .menu .meal:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes menu_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes title_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes title_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menus .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2rem 0 3.3rem;
}

.menus .order button {
  border-radius: 40px;
  background: var(--gradient);
  color: white;
  border: none;
  padding: 1rem 3rem;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.menus .order button:hover {
  -webkit-box-shadow: var(--shadow-hover);
          box-shadow: var(--shadow-hover);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
/*# sourceMappingURL=style.css.map */