@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* ------ VARIABLES ------ */
/* ------ GENERAL ------ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    background: white;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 75%;
  padding: 1.2rem 0 0.8rem 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: white;
  border-radius: 50px;
  border: none;
  background: linear-gradient(178deg, #ff79da, #9356dc);
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.heart {
  cursor: pointer;
  position: relative;
}

.heart i {
  position: absolute;
  top: 0;
  right: 0;
}

.heart:hover .hide-heart {
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  -webkit-transform: translateY(-27px);
          transform: translateY(-27px);
}

.heart .empty-heart {
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 2;
}

.heart .hide-heart {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: white;
  z-index: 1;
}

.heart .full-heart {
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  position: relative;
  margin: auto;
}

.home-main {
  max-width: 1400px;
}

/* ------ Spinner ------ */
body {
  position: relative;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  -webkit-animation: disapear 0.2s linear 1.6s forwards;
          animation: disapear 0.2s linear 1.6s forwards;
}

.circles {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.circles div {
  position: absolute;
  border: 4px solid #ff79da;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.circles div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  border: 4px solid #99e2d0;
}

@-webkit-keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@-webkit-keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* ------ HEADER ------ */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  padding: 1.2rem 0 0.6rem 0;
  font-size: 1.85em;
}

@media screen and (min-width: 768px) {
  header h1 {
    padding: 0.6rem 0;
  }
}

/* ------ MAIN ------ */
.introduction,
.restaurants {
  max-width: 1400px;
  margin: auto;
}

/* --- Location Section */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eaeaea;
  padding: 1rem 0;
  font-weight: 500;
  -webkit-box-shadow: inset 0px 2px 3px #3535353d;
          box-shadow: inset 0px 2px 3px #3535353d;
}

@media screen and (min-width: 768px) {
  .location {
    position: absolute;
    top: -50px;
    right: 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
  }
}

.location i {
  margin-right: 1rem;
}

/* --- Introduction Section */
@media screen and (min-width: 768px) {
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2rem 1rem 1rem;
    background: #f6f6f6;
  }
}

.introduction .presentation {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .introduction .presentation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    border-radius: 10px;
    min-width: 300px;
    padding: 1rem;
    background: white;
  }
}

.introduction .presentation h1 {
  text-align: center;
  padding: 0 2rem;
  font-size: 1.5rem;
}

.introduction .presentation p {
  text-align: center;
  font-size: 1.1rem;
  color: #5d5d5d;
  font-weight: 300;
}

.introduction .presentation button {
  margin: 1rem 0 1.3rem;
  padding: 1rem 1.4rem;
  font-weight: normal;
  -webkit-box-shadow: 0px 3px 8px 0px #808080a8;
          box-shadow: 0px 3px 8px 0px #808080a8;
}

.introduction .presentation button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 4px 15px 0px #808080a8;
          box-shadow: 0px 4px 15px 0px #808080a8;
}

.introduction .operation {
  padding: 3rem 1rem;
}

@media screen and (min-width: 768px) {
  .introduction .operation {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .introduction .operation h2 {
    text-align: center;
  }
}

.introduction .operation .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 1.5rem 0.4rem 1.5rem 1rem;
  background: #f6f6f6;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 10px 0px #11101059;
          box-shadow: 0px 3px 10px 0px #11101059;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media screen and (min-width: 768px) {
  .introduction .operation .card {
    background: white;
  }
}

.introduction .operation .card:hover {
  background: #f5edff;
  -webkit-box-shadow: 0px 4px 15px 0px #80808059;
          box-shadow: 0px 4px 15px 0px #80808059;
}

.introduction .operation .card:hover i {
  color: #9356dc;
}

.introduction .operation .card span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -10px;
  background: #9356dc;
  color: #f6f6f6;
  padding: 0.3rem;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  font-size: 14px;
}

.introduction .operation .card i {
  padding: 1.7rem 2rem;
  color: grey;
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
}

@media screen and (min-width: 768px) {
  .introduction .operation .card i {
    padding: 1.2rem 2.3rem;
  }
}

.introduction .operation .card .fa-mobile-alt {
  font-size: 20px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.introduction .operation .card .fa-list-ul {
  font-size: 19px;
}

.introduction .operation .card .fa-store {
  font-size: 17px;
}

.introduction .operation .card p {
  font-weight: 500;
}

/* --- Restaurants Section */
.restaurants {
  background: #f6f6f6;
  padding: 3rem 1rem;
}

@media screen and (min-width: 1024px) {
  .restaurants {
    background: transparent;
  }
}

.restaurants h2 {
  margin: auto;
  margin-bottom: 0.8rem;
  max-width: 380px;
}

@media screen and (min-width: 768px) {
  .restaurants h2 {
    max-width: 1260px;
  }
}

.restaurants .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 390px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .restaurants .cards {
    max-width: 1260px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
}

.restaurants .restaurant {
  position: relative;
  margin: 0.7rem 0;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 10px 0px #11101059;
          box-shadow: 0px 3px 10px 0px #11101059;
  max-width: 24rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.restaurants .restaurant:hover {
  -webkit-box-shadow: 0px 3px 20px 8px #1110102e;
          box-shadow: 0px 3px 20px 8px #1110102e;
}

@media screen and (min-width: 768px) {
  .restaurants .restaurant {
    max-width: 19rem;
  }
}

.restaurants .restaurant .image {
  overflow: hidden;
  width: 100%;
  height: 11rem;
  border-radius: 15px 15px 0 0;
}

@media screen and (min-width: 768px) {
  .restaurants .restaurant .image {
    height: 9rem;
  }
}

.restaurants .restaurant img {
  max-width: 100%;
  -webkit-transform: translateY(-53px);
          transform: translateY(-53px);
}

.restaurants .restaurant .translate-img {
  -webkit-transform: translateY(-155px);
          transform: translateY(-155px);
}

.restaurants .restaurant .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 1rem 0.8rem;
}

.restaurants .restaurant .content .name p {
  font-size: 17px;
  margin: 0.2rem 0;
  font-weight: 300;
}

.restaurants .restaurant .content .heart:hover .hide-heart {
  -webkit-transform: translateY(-23px);
          transform: translateY(-23px);
}

.restaurants .restaurant .content .heart i {
  font-size: 25px;
  top: 5px;
  right: 5px;
}

.restaurants .restaurant .content .heart .hide-heart {
  top: 5px;
  right: 5px;
  width: 23px;
  height: 23px;
}

.restaurants .restaurant .content .new {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99e2d0;
  color: #018766;
  padding: 0.4rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
}

/* ------ FOOTER ------ */
footer {
  background: #353535;
  color: white;
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 3.5rem 1.5rem 2rem;
  }
}

footer .logo-footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

footer i {
  padding-right: 0.5rem;
  font-size: 13px;
}

footer li {
  margin-bottom: 0.6rem;
  font-size: 16px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

footer li:hover {
  font-weight: bold;
}

header {
  position: relative;
  margin: auto;
}

@media screen and (min-width: 768px) {
  header {
    background: white;
  }
}

header .previous {
  position: absolute;
  top: 21px;
  left: 25px;
  font-size: 19px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header .previous:hover {
  background: #80808040;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 3px 6px #80808040;
          box-shadow: 0px 0px 3px 6px #80808040;
}

.large-image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .large-image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 30vh;
  }
}

.menus {
  position: relative;
  padding: 1.5rem 1.1rem;
  background: #f6f6f6;
}

@media screen and (min-width: 768px) {
  .menus {
    padding: 0;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

.menus .header-menus {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  min-height: 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px 40px 0 0;
  padding: 2rem 2.3rem 2rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .menus .header-menus {
    position: relative;
    top: -35px;
    max-width: 776px;
    margin: auto;
    padding: 1.7rem 2.3rem 1.3rem 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .menus .header-menus {
    max-width: 906px;
  }
}

@media screen and (min-width: 1440px) {
  .menus .header-menus {
    max-width: 1100px;
  }
}

.menus .header-menus h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 27px;
}

@media screen and (max-width: 374px) {
  .menus .header-menus h1 {
    font-size: 24px;
  }
}

.menus .header-menus i {
  font-size: 25px;
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
}

.menus .header-menus .hide-heart {
  background: #f6f6f6;
}

.menus .wrapper-menus {
  margin: auto;
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .menus .wrapper-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.menus .menu {
  padding-top: 1.3rem;
}

@media screen and (min-width: 768px) {
  .menus .menu {
    padding-top: 0;
  }
}

.menus .menu h2 {
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 1.4rem;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-animation: title_apparition 700ms forwards;
          animation: title_apparition 700ms forwards;
}

.menus .menu h2:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 39px;
  height: 3px;
  background: #99e2d0;
}

.menus .meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  opacity: 0;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: 0px 4px 9px #0000001a;
          box-shadow: 0px 4px 9px #0000001a;
  max-width: 360px;
  cursor: pointer;
  -webkit-animation: 2s menu_apparition 700ms forwards;
          animation: 2s menu_apparition 700ms forwards;
}

@media screen and (min-width: 768px) {
  .menus .meal {
    width: 30vw;
    max-width: 310px;
  }
}

.menus .meal:hover .meal-infos {
  width: 61%;
}

.menus .meal:hover .meal-check {
  right: 0;
}

.menus .meal:hover .meal-check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menus .meal .meal-infos {
  width: 80%;
  padding: 0.9rem 0.7rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menus .meal h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.3rem;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .menus .meal h3 {
    font-size: 15px;
  }
}

.menus .meal .description {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .menus .meal .description {
    font-size: 13px;
  }
}

.menus .meal .meal-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.9rem 0;
  font-size: 15px;
  font-weight: 600;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menus .meal .meal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -61px;
  height: 100%;
  width: 60px;
  border-radius: 0 15px 15px 0;
  background: #99e2d0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menus .meal .meal-check i {
  color: white;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 300ms linear 100ms;
  transition: -webkit-transform 300ms linear 100ms;
  transition: transform 300ms linear 100ms;
  transition: transform 300ms linear 100ms, -webkit-transform 300ms linear 100ms;
}

.menus .menu .meal:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menus .menu .meal:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menus .menu .meal:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menus .menu .meal:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes menu_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes title_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes title_apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menus .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2rem 0 3.3rem;
}

@media screen and (min-width: 768px) {
  .menus .order {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.menus .order button {
  padding: 1rem 3rem;
  -webkit-box-shadow: 0px 3px 10px 0px #11101059;
          box-shadow: 0px 3px 10px 0px #11101059;
}

.menus .order button:hover {
  -webkit-box-shadow: 0px 4px 15px 0px #808080a8;
          box-shadow: 0px 4px 15px 0px #808080a8;
  opacity: 0.9;
}

.wrapper-footer {
  max-width: 1400px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */