@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ------ VARIABLES ------ */
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$bg-primary: #eaeaea;
$bg-secondary: #f6f6f6;
$bg-tertiary: #353535;
$gradient: linear-gradient(178deg, $secondary, $primary);
$font-titles: "Shrikhand", sans-serif;
$font-texts: "Roboto", sans-serif;
$shadow-dark: 0px 3px 8px 0px #808080a8;
$shadow-light: 0px 3px 10px 0px #11101059;
$shadow-hover: 0px 4px 15px 0px #808080a8;

/* ------ GENERAL ------ */
* {
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: $font-texts;

  @media screen and (min-width: 768px) {
    background: white;
  }
}

.logo {
  display: flex;
  justify-content: center;

  img {
    width: 75%;
    padding: 1.2rem 0 0.8rem 0;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: white;
  border-radius: 50px;
  border: none;
  background: $gradient;
  cursor: pointer;
  transition: all 200ms;
}

.heart {
  cursor: pointer;
  position: relative;

  i {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover .hide-heart {
    transition: all 600ms ease-in-out;
    transform: translateY(-27px);
  }

  .empty-heart {
    transform: scale(0.9, 1);
    transition: all 500ms ease-in-out;
    z-index: 2;
  }
  .hide-heart {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: white;
    z-index: 1;
  }
  .full-heart {
    transform: scale(0.9, 1);
    transition: all 500ms ease-in-out;
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

main {
  position: relative;
  margin: auto;
}

// INDEX.HTML

.home-main {
  max-width: 1400px;
}

/* ------ Spinner ------ */
body {
  position: relative;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-secondary;
  animation: disapear 0.2s linear 1.6s forwards;
}
.circles {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.circles div {
  position: absolute;
  border: 4px solid $secondary;
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.circles div:nth-child(2) {
  animation-delay: -0.5s;
  border: 4px solid $tertiary;
}

@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* ------ HEADER ------ */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    padding: 1.2rem 0 0.6rem 0;
    font-size: 1.85em;

    @media screen and (min-width: 768px) {
      padding: 0.6rem 0;
    }
  }
}

/* ------ MAIN ------ */
.introduction,
.restaurants {
  max-width: 1400px;
  margin: auto;
}
/* --- Location Section */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-primary;
  padding: 1rem 0;
  font-weight: 500;
  box-shadow: inset 0px 2px 3px #3535353d;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: -50px;
    right: 30px;
    box-shadow: none;
    background: transparent;
  }

  i {
    margin-right: 1rem;
  }
}

/* --- Introduction Section */

.introduction {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 1rem 1rem;
    background: $bg-secondary;
  }

  .presentation {
    background: $bg-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    @media screen and (min-width: 768px) {
      flex: 0 0 25%;
      border-radius: 10px;
      min-width: 300px;
      padding: 1rem;
      background: white;
    }

    h1 {
      text-align: center;
      padding: 0 2rem;
      font-size: 1.5rem;
    }

    p {
      text-align: center;
      font-size: 1.1rem;
      color: #5d5d5d;
      font-weight: 300;
    }

    button {
      margin: 1rem 0 1.3rem;
      padding: 1rem 1.4rem;
      font-weight: normal;
      box-shadow: $shadow-dark;

      &:hover {
        opacity: 0.9;
        box-shadow: $shadow-hover;
      }
    }
  }

  .operation {
    padding: 3rem 1rem;

    @media screen and (min-width: 768px) {
      padding: 0;
      flex: 0 0 25%;
      min-width: 320px;
    }

    h2 {
      @media screen and (min-width: 768px) {
        text-align: center;
      }
    }

    .card {
      display: flex;
      align-items: center;
      position: relative;
      margin: 1.5rem 0.4rem 1.5rem 1rem;
      background: $bg-secondary;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: $shadow-light;
      transition: all 300ms;

      @media screen and (min-width: 768px) {
        background: white;
      }

      &:hover {
        background: #f5edff;
        box-shadow: 0px 4px 15px 0px #80808059;

        i {
          color: $primary;
        }
      }

      span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -10px;
        background: $primary;
        color: $bg-secondary;
        padding: 0.3rem;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        font-size: 14px;
      }

      i {
        padding: 1.7rem 2rem;
        color: grey;
        transform: scale(0.9, 1);

        @media screen and (min-width: 768px) {
          padding: 1.2rem 2.3rem;
        }
      }
      .fa-mobile-alt {
        font-size: 20px;
        transform: scale(1, 1);
      }
      .fa-list-ul {
        font-size: 19px;
      }
      .fa-store {
        font-size: 17px;
      }

      p {
        font-weight: 500;
      }
    }
  }
}

/* --- Restaurants Section */
.restaurants {
  background: $bg-secondary;
  padding: 3rem 1rem;

  @media screen and (min-width: 1024px) {
    background: transparent;
  }

  h2 {
    margin: auto;
    margin-bottom: 0.8rem;
    max-width: 380px;

    @media screen and (min-width: 768px) {
      max-width: 1260px;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    margin: auto;

    @media screen and (min-width: 768px) {
      max-width: 1260px;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  .restaurant {
    position: relative;
    margin: 0.7rem 0;
    background: white;
    border-radius: 15px;
    box-shadow: $shadow-light;
    max-width: 24rem;
    transition: all 300ms;

    &:hover {
      box-shadow: 0px 3px 20px 8px #1110102e;
    }

    @media screen and (min-width: 768px) {
      max-width: 18rem;
    }

    .image {
      overflow: hidden;
      width: 100%;
      height: 11rem;
      border-radius: 15px 15px 0 0;

      @media screen and (min-width: 768px) {
        height: 9rem;
      }
    }
    img {
      max-width: 100%;
      transform: translateY(-53px);
    }
    .translate-img {
      transform: translateY(-155px);
    }

    .content {
      display: flex;
      justify-content: space-between;
      padding: 1.2rem 1rem 0.8rem;

      .name {
        p {
          font-size: 17px;
          margin: 0.2rem 0;
          font-weight: 300;
        }
      }

      .heart {
        &:hover .hide-heart {
          transform: translateY(-23px);
        }
        i {
          font-size: 25px;
          top: 5px;
          right: 5px;
        }
        .hide-heart {
          top: 5px;
          right: 5px;
          width: 23px;
          height: 23px;
        }
      }

      .new {
        position: absolute;
        top: 10px;
        right: 10px;
        background: $tertiary;
        color: #018766;
        padding: 0.4rem 0.8rem;
        font-size: 14px;
        font-weight: 500;
        border-radius: 2px;
      }
    }
  }
}

/* ------ FOOTER ------ */
footer {
  background: $bg-tertiary;
  color: white;
  padding: 1.5rem;

  @media screen and (min-width: 768px) {
    padding: 3.5rem 1.5rem 2rem;
  }

  .logo-footer {
    h3 {
      font-family: $font-titles;
      font-weight: normal;
      font-size: 1.1rem;
      font-weight: 200;
      margin-bottom: 1rem;
    }
  }

  i {
    padding-right: 0.5rem;
    font-size: 13px;
  }
  li {
    margin-bottom: 0.6rem;
    font-size: 16px;
    transition: all 300ms;

    &:hover {
      font-weight: bold;
    }
  }
}

//         ---------------------          //
//   ----------------------------------   //
// -------------------------------------- //
// ------------- MENUS.HTML ------------- //
// -------------------------------------- //
//   ----------------------------------   //
//         ---------------------          //

header {
  position: relative;
  margin: auto;

  @media screen and (min-width: 768px) {
    background: white;
  }

  .previous {
    position: absolute;
    top: 21px;
    left: 25px;
    font-size: 19px;
    transition: all 200ms;

    &:hover {
      background: #80808040;
      border-radius: 40px;
      box-shadow: 0px 0px 3px 6px #80808040;
    }
  }
}

.large-image {
  img {
    width: 100%;

    @media screen and (min-width: 768px) {
      object-fit: cover;
      height: 30vh;
    }
  }
}

.menus {
  position: relative;
  padding: 1.5rem 1.1rem;
  background: $bg-secondary;

  @media screen and (min-width: 768px) {
    padding: 0;
    transform: translateY(-4px);
  }

  .header-menus {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    min-height: 6rem;
    box-sizing: border-box;
    background: $bg-secondary;
    display: flex;
    justify-content: space-between;
    border-radius: 40px 40px 0 0;
    padding: 2rem 2.3rem 2rem 1.5rem;

    @media screen and (min-width: 768px) {
      position: relative;
      top: -35px;
      max-width: 776px;
      margin: auto;
      padding: 1.7rem 2.3rem 1.3rem 1.5rem;
    }

    @media screen and (min-width: 1024px) {
      max-width: 906px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 1100px;
    }

    h1 {
      font-family: $font-titles;
      font-weight: normal;
      font-size: 27px;

      @media screen and (max-width: 374px) {
        font-size: 24px;
      }
    }

    i {
      font-size: 25px;
      transform: scale(0.9, 1);
    }

    .hide-heart {
      background: $bg-secondary;
    }
  }

  .wrapper-menus {
    margin: auto;
    max-width: 360px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-evenly;
      max-width: max-content;
      column-gap: 20px;
      transform: translateY(-30px);
    }
  }

  .menu {
    padding-top: 1.3rem;

    @media screen and (min-width: 768px) {
      padding-top: 0;
    }

    h2 {
      position: relative;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 1.4rem;
      opacity: 0;
      transform: translateX(-100px);
      animation: title_apparition 700ms forwards;

      &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 39px;
        height: 3px;
        background: $tertiary;
      }
    }
  }

  .meal {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 1rem 0;
    opacity: 0;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 9px #0000001a;
    max-width: 360px;
    cursor: pointer;
    animation: 2s menu_apparition 700ms forwards;

    @media screen and (min-width: 768px) {
      width: 30vw;
      max-width: 310px;
    }

    &:hover .meal-infos {
      width: 61%;
    }
    &:hover .meal-check {
      right: 0;
    }
    &:hover .meal-check i {
      transform: rotate(360deg);
    }

    .meal-infos {
      width: 80%;
      padding: 0.9rem 0.7rem;
      transition: all 300ms;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0.3rem;
      overflow: hidden;

      @media screen and (min-width: 768px) {
        font-size: 15px;
      }
    }
    .description {
      margin: 0;
      font-size: 15px;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media screen and (min-width: 768px) {
        font-size: 13px;
      }
    }

    .meal-price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0.9rem 0;
      font-size: 15px;
      font-weight: 600;
      transform: translateX(20px);
      transition: all 300ms;

      @media screen and (min-width: 768px) {
        transform: translateX(0px);
      }

      @media screen and (min-width: 1024px) {
        transform: translateX(20px);
      }
    }

    .meal-check {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -61px;
      height: 100%;
      width: 60px;
      border-radius: 0 15px 15px 0;
      background: $tertiary;
      transition: all 300ms;

      i {
        color: white;
        font-size: 20px;
        transform: rotate(90deg);
        transition: transform 300ms linear 100ms;
      }
    }
  }

  @for $i from 1 through 4 {
    .menu .meal:nth-child(#{$i}) {
      animation-delay: #{$i * 0.2}s;
    }
  }

  @keyframes menu_apparition {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes title_apparition {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .order {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.2rem 0 3.3rem;

    @media screen and (min-width: 768px) {
      transform: translateY(-30px);
    }

    button {
      padding: 1rem 3rem;
      box-shadow: $shadow-light;

      &:hover {
        box-shadow: $shadow-hover;
        opacity: 0.9;
      }
    }
  }
}

.wrapper-footer {
  max-width: 1400px;
  margin: auto;
}
